
<div class="txt" [class.fadein]="triggerin" [class.fadeout]="triggerout">
    <h1>Technologies I use:</h1>
    <div class="flex">
        <div id="ang" [class.ang-in]="triggerin"></div>
        <div id="njs" [class.njs-in]="triggerin"></div>
        <div id="exp" [class.exp-in]="triggerin"></div>
        <div id="mdb" [class.mdb-in]="triggerin"></div>
    </div>
    <div class="flex">
        <div id="cpp" [class.cpp-in]="triggerin"></div>
        <div id="pyth" [class.pyth-in]="triggerin"></div>
        <div id="html" [class.html-in]="triggerin"></div>
        <div id="css" [class.css-in]="triggerin"></div>
    </div>
    <div  class="flex">
        <h3 id="grey">[ This page was made using angular :p<br>
            You can find the code on my GitHub ]
        </h3>
        <footer>
            <a href="mailto:amir1mrkonjic@gmail.com"><h3>amir1mrkonjic@gmail.com</h3></a>
        </footer>
    </div>
</div>

