#s1 {
    background-image: url('../assets/s1.svg');
    background-size: cover;
}

#s2 {
    background-image: url('../assets/s2.svg');
    background-size: cover;
}

#s3 {
    background-image: url('../assets/s3.svg');
    background-size: cover;
}