<div class="txt" [class.fadein]="triggerin" [class.fadeout]="triggerout" [class.fadeIn2]="triggerin" [class.fadeOut2]="triggerout">
    <h2>About me:</h2>
    <p>
        I'm a highly driven software engineering student and web developer based in Zenica, BH.<br>
        I've always had a knack for tech, and all things geeky :D.
    </p>
    <h2>Background:</h2>
    <p>
        Other than programming I've done a lot of acting work and activist work in various organizations. <br> 
        I also have quite the backround in leadership, even right now I'm the class representative of my <br> 
        year at college.
    </p>
    <h2>My hobbies include but are not limited to:</h2>
    <p>
        League of Legends, theatre, photography and game development :D
    </p>
</div>