<div [class.fadeIn]="triggerout" [class.fadeOut]="triggerin">
  <div id="profile"></div>
  <div id="subpic">
    <h1 id="name">Amir Mrkonjić</h1>
    <div id="subtitle">
      <h2 id="Coder">Programmer, </h2>
      <h2 id="Student">Student, </h2>
      <h2 id="Dreamer">Dreamer</h2>
    </div>
    <div id="icons">
      <a href="https://www.facebook.com/oneinchlunch" target="_blank" rel="noopener"><div id="fb-ico"></div></a>
      <a href="https://www.linkedin.com/in/amir-mrkonji%C4%87-505348198" target="_blank" rel="noopener"><div id="li-ico"></div></a>
      <a href="https://www.instagram.com/oneinchlunch" target="_blank" rel="noopener"><div id="ig-ico"></div></a>
      <a href="https://www.twitter.com/oneinchlunch" target="_blank" rel="noopener"><div id="tw-ico"></div></a>
      <a href="https://www.github.com/oneinchlunch" target="_blank" rel="noopener"><div id="gh-ico"></div></a>
    </div>
  </div>
</div>